/* == elements == */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

Body {
    font-family: 'Mukta', sans-serif;
}

/* == Menu == */

.main-menu {
    background-color: rgb(255, 252, 112);
}

.navbar-brand {
    margin-left: 60px;
}

.nav-link {
    margin-right: 60px;
}

/* == Main == */

main {
    margin: 20px;
    margin-top: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
}

/* ==active state */
.card {
    border: none;
}

.card-img-overlay {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 5px;
    left: auto;
    padding: 10px;
}

.card-title,
.card-text {
    background-color: rgb(255, 252, 112);
    padding-left: 5px;
    padding-right: 30px;
}

.row-two {
    margin-top: 30px;
}

/* == hover state == */

.card:hover {
   opacity: 70%;
}


.card-title:hover,
.card-text:hover {
    background-color: rgb(228, 101, 101);
}


/* == Footer == */

.fixed-bottom {
    background: rgb(245, 245, 245);;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-links{
    padding: 0px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .card {
       height: 500px;
       width: 500px;
       margin: 10px;
    }

