/* == elements == */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

Body {
    font-family: 'Mukta', sans-serif;
}

/* == Menu == */

.main-menu {
    background-color: rgb(255, 252, 112);
}

.navbar-brand {
    margin-left: 60px;
}

.nav-link {
    margin-right: 60px;
}

/* == Footer == */

.fixed-bottom {
    background: rgb(245, 245, 245);;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-links{
    padding: 0px;
    margin: 0 auto;
}